body {
    font-size: 20px;
    font-family: 'Raleway', 'Times New Roman', serif;
    background-color: purple;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 2px solid red;
    border-radius: 4px;
  }